img {
	border-radius: 18px;
}

body {
    background-color: #F2F2F2;
    color: #333333;
    margin: 0 auto;
    max-width: 70%;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
        -moz-box-shadow: 0 0 0.3em #255b17;
        -webkit-box-shadow: 0 0 0.3em #255b17;
            backgroundox-shadow: 0 0 0.3em #255b17;
}

fieldset{
	border: 1px dotted #61B5CF;
	margin-top: 2.4em;
	padding: 0.6em;
	width: 90%;
}

legend{
	font: bold 0.8em Arial, Helvetica, sans-serif;
	color: #00008B;
	background-color: #F2F2F2;
}

#back{
	float: right;
	padding-top: 1em;
	padding-right: 6em;
}

#show{
	padding-left: 3em;
	
}

#myTitle{
	padding-left: 1em;
}

#des{
	font-weight: 40em;
	width: 38em;
	border-style: dashed;
	border-width: 1px;
}

#titleShow{
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#uploadFile{
	width: 56em;
}
